#navbar{
    display: flex;
    justify-content: space-between;
}
#green{
background-color: green;
display: flex;
justify-content: space-evenly;
}
#images{
    display: flex;
    gap: 20px; 
    justify-content: center;
}
#images-2{
    display: flex;
    justify-content: space-evenly;
}
.images-2{
    display: flex;
}
@media  all and (min-width: 280px) and (max-width: 1024px) {
    #navbar{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    #images{
    display: flex;
    gap: 20px; 
    justify-content: center;
    flex-wrap: wrap;
}
#terra{
    width: auto;
}
}